extends /layouts/_bootstrap
append styles
	// Custom styles for this template
	link(href='../css/signin.css', rel='stylesheet')
block body
	.container
		form(class="form-signin" id="form" method="post" novalidate)
			h2.form-signin-heading Please sign in
			label.sr-only(for='email') Email address
			input#inputEmail.form-control(type='email', placeholder='Email address', required='true', autofocus='true' name='email' value= email ? email : '')
			label.sr-only(for='password') Password
			input#inputPassword.form-control(type='password', placeholder='Password' name='password')
			.checkbox
			label
				input(type='checkbox' name="miCheckbox")
				|  Remember me
			button.btn.btn-lg.btn-primary.btn-block(type='submit' form="form") Sign in
			div
				a(href="/register") Register
			if errors
				p=errors.error

