extends ../layouts/index

block styles
	link(href='/css/styles.css' rel='stylesheet')

block content
	.container.my-5
		form(class="form-signin" action="/auth/register" method="post" novalidate)
			h2.form-signin-heading Please sign up
			label.sr-only(for='email') Email address
			input.form-control(type='email', placeholder='Email address', autofocus='true' name='email' value= email ? email : '')
			label.sr-only(for='username') Name
			input.form-control(type='text', placeholder='Username', required='true', autofocus='true' name='username' value= username ? username : '')
			label.sr-only(for='password') Password
			input.form-control(type='password', placeholder='Password' name='password')
			button.btn.btn-lg.btn-primary.btn-block.mt-2(type='submit') Sign up
			.block
				a(href="/auth/login") Log in 
			
			if errors
				p.text-bg-warning.p-3.mt-2=errors.error